# Assignment FEB 2 2023

In [ ]:
# Q1.
#What are the characteristics of the tuples? Is tuple immutable?

In [21]:
#Tuples are orderd, unchangebale, allow duplicate values , indexed they allow string,float, set insdie it.,
#Yes, tuples are immutable

In [ ]:
# Q2. 
#What are the two tuple methods in python? Give an example of each method. Give a reason why
#tuples have only two in-built methods as compared to Lists.

In [ ]:
# The two tuple methods in python are index() and count()

In [ ]:
# example of each method

In [30]:
# example 1 index()
tuple1=(13,42,333,443,55,8,3,4,2,4,53,2,3,2,5,3,5,643,9)
print(tuple1.index(42)  ) ## add the value and  it will tell you the index

1

In [29]:
# example 2 count()
print(tuple1.count(2))  ## dd the value and  it will tell you how many times it occurs

## and do take care of True and False here they also count for 1's and 0's

3

In [ ]:
# Tuples have only two-built in method becausce they cannot be modify becausce they are immutable
# whereas in List is mutbale so, we need different function to method to modify it.

In [ ]:
# Q3
# Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
# duplicates from the given list.

In [ ]:
# Set do not allow duplicate items in it

In [28]:
LIST=[1,1,1,2,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4,2,4,3,4,4]
new_list=set(LIST)
print(new_list)

{1, 2, 3, 4}

In [ ]:
#Q4
#  Explain the difference between the union() and update() methods for a set. Give an example of
# each method.

In [36]:
# union and update in set
# in simple words union() create a new set that contain both object
set1={1,2,3,4,5}
set2={"hi",3,(1,2,3),"bye"}
set3=set2.union(set1)
print(set3)

{1, 2, 3, 4, 5, 'bye', (1, 2, 3), 'hi'}

In [45]:
# update 
# in simple words update() add all elements from another set and modify the orginal set
set4={1,2,3,4,5}
set5={"hello",6,29,2902,"hi",1}
set5.update(set4)
print(set5)

{1, 2, 29, 2902, 3, 4, 5, 6, 'hello', 'hi'}

In [ ]:
#
# Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

In [47]:
# A dictionary is a collection of key:value pairs where key must be unique and immutuable and value can be of anytype.
# dictionary is unorederd
# example
dict1={"name":"Manjot","age":20,}
print(dict1)

{'name': 'Manjot', 'age': 20}

In [ ]:
# Q6 
#Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

In [51]:
# Yes, we can create a nested dictionary 
dict2={"ID":{"name":"Manjot","age":20,"roll.no.":32,"last_name": "Singh"}}
print(dict2["ID"]["last_name"])

Singh

In [ ]:
#
#Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
#the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
#dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [61]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("topics",['Python', 'Machine Learning', 'Deep Learning'])
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

In [ ]:
#Q8.
#What are the three view objects in dictionaries? Use the three in-built methods in python to display
#these three view objects for the given dictionary.

In [66]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [68]:
print(dict1.keys())

dict_keys(['Sport', 'Teams'])

In [69]:
print(dict1.values())

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [70]:
print(dict1.items())

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])